<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.mapper.MemberMapper">
	<!-- <resultMap type="MemberOV" id="selectMember"> <result property="id" 
		column="id" /> <result property="uInfo" column="u_intro" /> <result property="dInfo" 
		column="d_intro" /> <result property="phone" column="phone" /> <result property="nikname" 
		column="nikname" /> <result property="photo" column="photo" /> <result property="jop" 
		column="jop" /> <result property="driver" column="driver" /> <result property="gradeNo" 
		column="grade_no" /> <result property="myFee" column="my_fee" /> </resultMap> -->

	<sql id="whereforid">
		<where>
			<if test="kakaoId != null">
				kakao_id = #{kakaoId}
			</if>
			<if test="naverId != null">
				and naver_id = #{naverId}
			</if>
		</where>
	</sql>


	<select id="selectMemberById" resultType="MemberVO">
		SELECT member_no,
		kakao_id, naver_id, name, u_intro, d_intro, phone,
		nickname, photo,
		jop, driver, jumin, grade_no, my_fee, email,
		dirver_enrollment, dirver_apply,driver_latitude,driver_hardness
		FROM
		carshare.`member`
		<include refid="whereforid" />

	</select>

	<insert id="insertMember">
		INSERT INTO carshare.`member`
		(kakao_id, naver_id,
		name, u_intro, d_intro, phone, nickname, photo, jop,
		driver, jumin,
		grade_no, my_fee, email)
		VALUES(#{kakaoId},#{naverId},#{name},#{uIntro},#{dIntro},#{phone},#{nickname},#{photo},#{jop},#{driver},#{jumin},#{gradeNo},#{myFee},#{email})
	</insert>

	<update id="updateDirverApply">
		UPDATE carshare.`member`
		SET dirver_apply=now()
		WHERE
		member_no= #{memberNo}
	</update>

	<select id="selectMemberByMemberNo" resultType="MemberVO">
		SELECT member_no,
		kakao_id, naver_id, name, u_intro, d_intro, phone,
		nickname, photo,
		jop, driver, jumin, grade_no, my_fee, email,
		dirver_enrollment,
		dirver_apply,driver_latitude,driver_hardness
		FROM carshare.`member`
		WHERE member_no= #{memberNo}
	</select>

	<update id="setDriverWhere">
		UPDATE carshare.`member`
		SET driver_latitude=#{driverLatitude}, driver_hardness=#{driverHardness}
		WHERE member_no=#{memberNo};
	</update>
</mapper>