<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.mapper.RouteMapper">
	<insert id="insertRoute">
		INSERT INTO carshare.route
		(Route_no, id, process, avgFee, start_address, start_latitude, start_hardness,
		end_address, end_latitude, end_hardness)
		VALUES('', '', '', 0, '', 0, 0, '', 0, 0);

		INSERT INTO carshare.route
		(Route_no, id, avg_fee, process, start_spot,
		end_spot)
		VALUES(#{RouteNo}, #{id.id}, #{avgFee}, #{process},
		#{startSpot.locationNo}, #{endSpot.locationNo})
	</insert>
</mapper> 