<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.mapper.RouteMapper">
	<insert id="insertRoute">
		INSERT INTO carshare.route
		(Route_no, member_no, process,
		start_address, start_latitude, start_hardness,
		end_address,
		end_latitude, end_hardness)
		VALUES(#{RouteNo},#{memberNo.memberNo}, #{process},
		#{startAddress}, #{startLatitude}, #{startHardness}, #{endAddress},
		#{endLatitude}, #{endHardness})
	</insert>
	
	<select id="selectLastNo" resultType="String">
		select max(Route_no) FROM carshare.route;
	</select>
	
	<select id="selectRoutByRouteNo" resultType="RouteVO">
		SELECT Route_no, member_no, process, avgFee,
		start_address, start_latitude, start_hardness, end_address,
		end_latitude, end_hardness
		FROM carshare.route
		where left(Route_no, 1) != 'f' and member_no =#{memberNo} and process = '등록'
	</select>
</mapper> 